<ul class="list-group">
    <li class="list-group-item">Anasayfa</li>
    <li class="list-group-item">Sayfa 1</li>
    <li class="list-group-item">Sayfa 2</li>
    <li class="list-group-item">Sayfa 3</li>
    <li class="list-group-item">Sayfa 4</li>
    <li class="list-group-item">Sayfa 5</li>
</ul>